target/
.ensime_cache
nasim-server/conf
nasim-server/server.log
nasim-server/logs
nasim-server/src/main/resources/application.conf
nasim-server/nasim-tests/src/test/resources/application.conf
nasim-server/nasim-testkit/src/test/resources/application.conf
nasim-server/nasim-testkit/src/main/resources/application.conf
nasim-server/src/main/resources/rebel.xml
nasim-tests/journal
nasim-tests/snapshots
nasim-dashboard/logs
.idea/workspace.xml
.idea/tasks.xml
.idea/find.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/libraries
.idea
.gradle
src/main/resources/logback.xml
data
local.properties
*.iml
gwt_dist.zip
sdk-api/api-language/languages/im.actor.apiLanguage/source_gen
sdk-api/api-language/languages/im.actor.apiLanguage/source_gen.caches
sdk-api/api-language/languages/im.actor.apiLanguage/sandbox/source_gen.caches
sdk-api/api-language/languages/im.actor.apiLanguage/sandbox/classes_gen
sdk-api/api-language/languages/im.actor.apiLanguage/sandbox/source_gen
sdk-api/api-language/languages/im.actor.apiLanguage/classes_gen
sdk-api/api-language/languages/im.actor.apiLanguage/classes_gen
sdk-api/api-language/languages/im.actor.apiLanguage/source_gen
sdk-api/api-language/solutions/im.actor.api/source_gen.caches
sdk-api/api-language/solutions/im.actor.api/source_gen
sdk-api/api-language/solutions/im.actor.api/classes_gen
sdk-api/api-language/languages/im.actor.apiLanguage/source_gen.caches
sdk-api/api-language/languages/im.actor.apiLanguage/sandbox/source_gen
sdk-api/api-language/languages/im.actor.apiLanguage/sandbox/source_gen.caches
sdk-api/api-language/languages/im.actor.apiLanguage/sandbox/classes_gen
workspace.xml
*.class
actor-api/api-language/solutions/im.actor.api/classes_gen
report.xml
ActorApp.app.dSYM.zip
ActorApp.ipa
actor-apps/app-ios/_floatsignTemp
Podfile.lock
actor-integrations/teamcity/build
nasim-sdk/sdk-api/api-language/languages/im.actor.apiLanguage/classes_gen
nasim-sdk/sdk-api/api-language/languages/im.actor.apiLanguage/source_gen.caches
nasim-sdk/sdk-api/api-language/languages/im.actor.apiLanguage/source_gen
nasim-sdk/sdk-core/build
nasim-sdk/sdk-core/core/core-android/build
nasim-sdk/sdk-core/core/core-cocoa/build
nasim-sdk/sdk-core/core/core-js/build
nasim-sdk/sdk-core/core/core-js/war
nasim-sdk/sdk-core/core/core-shared/build
nasim-sdk/sdk-core/runtime/runtime-android/build
nasim-sdk/sdk-core/runtime/runtime-cocoa/build
nasim-sdk/sdk-core/runtime/runtime-js/build
nasim-sdk/sdk-core/runtime/runtime-shared/build
nasim-sdk/sdk-core-ios/NasimApp.xcodeproj/project.xcworkspace/xcuserdata
nasim-sdk/sdk-core-ios/NasimApp.xcodeproj/xcuserdata
nasim-sdk/sdk-core-ios/NasimSDK.xcodeproj/project.xcworkspace/xcuserdata
nasim-sdk/sdk-core-ios/NasimSDK.xcworkspace/xcuserdata
nasim-sdk/sdk-core-ios/Pods
nasim-sdk/sdk-core-ios/build
nasim-sdk/sdk-api/api-codegen/build
nasim-sdk/sdk-api/api-codegen/dist
nasim-sdk/sdk-core-android/android-sdk/build
nasim-sdk/sdk-core-android/android-app/build
npm-debug.log
nasim-sdk/sdk-core-clc/classes
nasim-sdk/sdk-core-clc/build
actor-deps/dist
nasim-sdk/sdk-core/core/core-js/build
build
nasim-sdk/sdk-core/runtime/runtime-js/war
nasim-deps/dist
gradle.properties
nasim-sdk/sdk-core/core/core-js/war
nasim-sdk/sdk-core/runtime/runtime-js/war
node_modules
dist
nasim-sdk/sdk-core-android/android-app/src/local/res/values/strings.xml
*~
nasim-sdk/sdk-api/api-language/.mps/scopes/
nasim-sdk/sdk-core-android/android-app/classes
nasim-sdk/sdk-core-clc/app-clc/*.db
MANIFEST.MF
